@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import "../../node_modules/halfmoon/css/halfmoon.css";
:root {
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-border-radius-xl: 0;
    --bs-border-radius-xxl: 0;
    --bs-font-sans-serif: "Martian Mono", monospace;
    --bs-primary-hsl: 202, 80%, 24%;
    --bs-secondary-hsl: 221, 39%, 11%;
}
body {
    --bs-body-bg: #030712;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1 {
    --bs-heading-color: #0ea5e9;
}
a {
    --bs-link-color-hsl: 199, 89%, 48%;
    --bs-link-decoration: none;
}
a:hover {
    --bs-link-hover-color-hsl: 200, 98%, 39%;
    --bs-link-hover-decoration: none;
}
.navbar {
    --bs-navbar-brand-color: #0ea5e9;
}
.sidebar {
    --bs-sidebar-active-color: #0ea5e9;
    --bs-sidebar-bg: #030712;
    --bs-sidebar-border-color: #0ea5e9;
    --bs-sidebar-brand-color: #0ea5e9;
    --bs-sidebar-brand-hover-color: #0ea5e9;
    --bs-sidebar-color: #f9fafb;
    --bs-sidebar-header-font-weight: 800;
    --bs-sidebar-hover-color: #f9fafb;
}
.sidebar-brand {
    font-weight: 800;
}
.card {
    --bs-card-bg: #030712;
    --bs-card-border-color: #0ea5e9;
}
.card-title {
    --bs-card-title-color: #0ea5e9;
    text-align: center;
}
.card-body {
    --bs-card-color: #f9fafb;
}
.btn-secondary {
    --bs-btn-active-bg: #030712;
    --bs-btn-active-border-color: #0ea5e9;
    --bs-btn-active-color: #0ea5e9;
    --bs-btn-bg: #030712;
    --bs-btn-border-color: #0ea5e9;
    --bs-btn-hover-bg: #030712;
    --bs-btn-hover-border-color: #0ea5e9;
    --bs-btn-hover-color: #0ea5e9;
    --bs-btn-color: #0ea5e9;
}
.border-bottom {
    --bs-border-color: #0ea5e9;
}
