@import 'halfmoon';

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --bs-body-font-family: Onest, sans-serif;
    --bs-font-size-base: 1.125rem;
}

* {
    transition: all 0.25s ease-in-out;
}

body {
    background-color: #000000;
}

a {
    color: #2b7fff;
}

a:hover {
    color: #193cb8;
}

.card {
    background-color: #000000;
    border-color: #222222;
}

.card-body {
    color: #ffffff;
}

.btn {
    color: #ffffff;
}

.btn-primary {
    background-color: #000000;
    border-color: #2b7fff;
    color: #2b7fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #000000 !important;
    border-color: #193cb8 !important;
    color: #193cb8 !important;
}

.particles-wrapper {
    filter: blur(100px);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.particles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
