@import "halfmoon";

@keyframes zoom {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(100%);
    }
    100% {
        opacity: 0;
        transform: scale(1000%);
    }
}

:root {
    --x-primary: #2b7fff;
    --x-black: #000000;
    --x-black-semi: #00000055;
    --x-white: #ffffff;
}

::selection {
    background-color: var(--x-primary);
    color: var(--x-white);
}

* {
    scroll-behavior: smooth;
    scrollbar-color: #ffffff transparent;
    scrollbar-width: thin;
    transition: all 200ms ease-in-out;
}

body {
    background-color: var(--x-black);
    color: var(--x-white);
    font-family: "Onest", sans-serif;
    overflow: hidden;
}

ul {
    margin-bottom: 0;
}

li {
    font-size: 18px;
    line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1;
    margin-bottom: 0;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 0;
}

a {
    color: var(--x-white);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    text-decoration: none;
}

a:hover {
    color: var(--x-primary);
}

a.active {
    color: var(--x-primary);
}

pre {
    border: 1px solid var(--x-white);
    border-radius: 16px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
    padding: 16px;
}

img {
    height: auto;
    max-width: 100%;
}

.container {
    margin-bottom: 16px;
    margin-top: 16px;
}

.row {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
}

.card {
    background-color: var(--x-black-semi);
    border: none;
    border-radius: 16px;
    color: var(--x-white);
    padding: 16px;
}

.card:hover {
    background-color: var(--x-black);
}

.card-body {
    padding: 16px;
}

.btn {
    border-radius: 16px;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 24px;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--x-primary);
    color: var(--x-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--x-primary) !important;
    border-color: var(--x-primary) !important;
    color: var(--x-white) !important;
}

.x-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.x-title {
    display: flex;
    flex-direction: column;
}

.x-title p {
    color: var(--x-primary);
    font-weight: 500;
}

.x-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.x-content p {
    text-align: justify;
}

@media (max-width: 992px) {
    .x-content p {
        text-align: start;
    }
}

.x-content a:not(.btn) {
    text-decoration: underline;
}

.x-list {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (max-width: 992px) {
    .x-list {
        gap: 16px;
    }
}

.x-preloader-container {
    align-items: center;
    background-color: var(--x-black);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.x-preloader {
    animation: zoom 1000ms ease-in-out infinite;
    height: 200px;
    width: 200px;
}

.x-particles-container {
    filter: blur(100px);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.x-particles {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.x-header-container {
    overflow-x: scroll;
    scrollbar-width: none;
}

.x-header {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
}

.x-header-links {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.x-profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.x-profile-logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.x-profile-meta {
    display: flex;
    flex-direction: column;
}

.x-profile-meta a {
    display: block;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 16px;
}

.x-profile-content {
    display: flex;
    flex-direction: column;
}

.x-profile-links {
    display: flex;
    flex-direction: column;
}

.x-internal-links-container {
    overflow-x: scroll;
    scrollbar-width: none;
}

.x-internal-links {
    display: flex;
    flex-direction: column;
}

.x-internal-links p {
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 16px;
}

.x-external-links-container {
    overflow-x: scroll;
    scrollbar-width: none;
}

.x-external-links {
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (max-width: 992px) {
    .x-external-links {
        flex-direction: row;
        gap: 16px;
    }
}

.x-external-links p {
    font-size: 26px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 16px;
}

.x-external-links a {
    white-space: nowrap;
}

.x-footer {
    text-align: center;
}

.x-footer a {
    text-decoration: underline;
}

.x-top-container {
    align-items: center;
    background-color: var(--x-black-semi);
    border-radius: 16px;
    bottom: 20px;
    color: var(--x-white);
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: center;
    padding: 16px;
    position: fixed;
    right: 20px;
    width: 50px;
    z-index: 1;
}

@media (max-width: 992px) {
    .x-top-container {
        bottom: 16px;
        right: 12px;
    }
}

.x-top-container:hover {
    background-color: var(--x-black);
}

.x-top {
    font-size: 24px;
}
